@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1f2937;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  border: 1px solid #3730a3;
  border-radius: 6px;
  padding: 0.6875rem 2rem;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  color: #3730a3;
  line-height: 1.5555555556;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #3730a3;
    color: #fff;
  }
}
.button_bg {
  background-color: #3730a3;
  color: #fff;
}
@media (any-hover: hover) {
  .button_bg:hover {
    background-color: transparent;
    color: #3730a3;
  }
}
.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: background-color 0.3s ease 0s;
}
.header._header-scroll {
  background-color: rgba(255, 255, 255, 0.9);
}
.header__container {
  display: flex;
  align-items: center;
  transition: all 0.3s ease 0s;
}
@supports (min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem )) {
  .header__container {
    min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem );
  }
}
@supports not (min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem )) {
  .header__container {
    min-height: calc(5rem + 9.75 * (100vw - 20rem) / 55.625);
  }
}
._header-scroll .header__container {
  min-height: 5rem;
}
.header__logo {
  position: relative;
  z-index: 2;
  width: 62px;
  height: 62px;
  background: #eeebff;
  flex: 0 0 62px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: #7b61ff;
  transform: rotate(30deg);
}
.header__button {
  position: relative;
  z-index: 2;
}

.menu {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  padding: 0px 0px 0px 0.625rem;
}
.menu__body {
  flex: 1 1 auto;
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #c7c4e7;
    padding: 0 0.9375rem 1.875rem;
    transition: left 0.3s ease 0s;
  }
  @supports (padding-top: clamp( 7.5rem , 4.4438202247rem  +  15.2808988764vw , 16rem )) {
    .menu__body {
      padding-top: clamp( 7.5rem , 4.4438202247rem  +  15.2808988764vw , 16rem );
    }
  }
  @supports not (padding-top: clamp( 7.5rem , 4.4438202247rem  +  15.2808988764vw , 16rem )) {
    .menu__body {
      padding-top: calc(7.5rem + 8.5 * (100vw - 20rem) / 55.625);
    }
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    left: -100%;
    transition: left 0.3s ease 0s;
    top: 0;
    background-color: #77768b;
  }
  @supports (min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem )) {
    .menu__body::before {
      min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem );
    }
  }
  @supports not (min-height: clamp( 5rem , 1.4943820225rem  +  17.5280898876vw , 14.75rem )) {
    .menu__body::before {
      min-height: calc(5rem + 9.75 * (100vw - 20rem) / 55.625);
    }
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (max-width: 47.99875em) {
  .menu__list {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
@supports (margin-right: clamp( 0.625rem , -0.9480337079rem  +  7.8651685393vw , 5rem )) {
  .menu__item {
    margin-right: clamp( 0.625rem , -0.9480337079rem  +  7.8651685393vw , 5rem );
  }
}
@supports not (margin-right: clamp( 0.625rem , -0.9480337079rem  +  7.8651685393vw , 5rem )) {
  .menu__item {
    margin-right: calc(0.625rem + 4.375 * (100vw - 20rem) / 55.625);
  }
}
.menu__link {
  color: #6b7280;
  font-weight: 500;
  line-height: 1.5555555556;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.875rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    flex: 0 0 1.875rem;
    cursor: pointer;
    z-index: 5;
    margin: 0px 0px 0px 0.9375rem;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}