//====================================================================================================
.footer {
  @include adaptiveValue("padding-top", 110, 30);
  @include adaptiveValue("padding-bottom", 110, 30);
  background: #fef2f2;

  // .footer__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  // .footer__text
  &__text {
    text-align: center;
    line-height: math.div(28, 18);
    color: $grey;
    max-width: rem(660);
    margin: 0px auto;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 100, 30);
    }
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include adaptiveValue("gap", 50, 15);

  // .social__icon
  &__icon {
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.8;
        transform: scale(1.1);
      }
    }
  }
}

//====================================================================================================