//====================================================================================================
.main-block {
  @include adaptiveValue("padding-top", 337, 100);
  @include adaptiveValue("padding-bottom", 100, 30);

  // .main-block__container
  &__container {
    display: flex;

    @media (max-width: $mobile) {
      flex-direction: column;
      gap: rem(30);
    }
  }

  // .main-block__content
  &__content {
    align-self: center;
    flex: 1 1 auto;
    @include adaptiveValue("padding-right", 80, 20);

    @media (max-width: $mobile) {
      padding-right: 0;
    }
  }

  // .main-block__image
  &__image {
    text-align: center;
    flex: 0 0 math.div(478, 1180) * 100%;

    img {
      max-width: 100%;
    }
  }
}

.content-main {
  display: grid;
  @include adaptiveValue("row-gap", 40, 20);

  // .content-main__name
  &__name {
    color: #4338ca;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: rem(20);
    gap: rem(10);
    line-height: math.div(28, 20);

    @media (min-width: $mobile) {
      &::before {
        content: "";
        flex: 0 0 102px;
        background-color: #4338ca;
        height: 1px;
      }
    }
  }

  // .content-main__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 72, 34);
  }

  // .content-main__text
  &__text {
    line-height: math.div(28, 18);
    color: $grey;
  }

  // .content-main__buttons
  &__buttons {
    flex-wrap: wrap;
    display: flex;
    gap: rem(20);
  }

  // .content-main__button
  &__button {
    @media (max-width: $mobileSmall) {
      flex: 1 1 auto;
    }
  }

  // .content-main__info
  &__info {
    border-top: 1px solid #e5e7eb;
    padding: rem(20) 0px 0px 0px;
    font-size: rem(12);
    line-height: math.div(16, 12);
    color: $grey;
  }
}

//====================================================================================================
.services {
  @include adaptiveValue("padding-top", 100, 30);
  @include adaptiveValue("padding-bottom", 150, 30);

  // .services__container
  &__container {}

  // .services__title
  &__title {
    @include adaptiveValue("margin-bottom", 150, 30);
  }

  // .services__body
  &__body {
    display: flex;
    align-items: flex-start;

    @media (max-width: $mobile) {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }

  // .services__image
  &__image {
    text-align: center;
    flex: 0 0 math.div(440, 1180) * 100%;

    img {
      max-width: 100%;
    }
  }

  // .services__items
  &__items {
    flex: 1 1 auto;
    display: grid;
    @include adaptiveValue("padding", 50, 20);
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("gap", 68, 20);

    @media (max-width: $mobile) {
      padding: 0 0 rem(20) 0;
    }
  }

  // .services__item
  &__item {}
}

.item-services {
  display: grid;
  gap: rem(20);

  // .item-services__title
  &__title {
    font-weight: 600;
  }

  // .item-services__text
  &__text {
    font-size: rem(12);
    line-height: math.div(16, 12);
  }

  // .item-services__link
  &__link {
    color: $indigo;
    display: inline-flex;
    align-items: center;
    font-size: rem(12);
    font-weight: 500;
    gap: rem(5);
    line-height: math.div(16, 12);

    &::after {
      content: "";
      background: url("@img/icons/link-arrow.svg") 0 0 / 100% no-repeat;
      flex: 0 0 rem(12);
      width: rem(12);
      height: rem(12);
    }

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//====================================================================================================